{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="bg-base-200/50 min-h-screen pb-20">
    <div class="bg-white pt-10 pb-6 border-b border-cream">
        <div class="container mx-auto px-4">
            <h1 class="text-3xl font-heading font-black uppercase italic tracking-tighter mb-6">
                Our <span class="text-primary">Menu</span>
            </h1>

            <div role="tablist" class="tabs tabs-box bg-base-200 p-1 rounded-2xl overflow-x-auto flex-nowrap no-scrollbar">
                <a role="tab" href="{% url "menu" %}" class="tab {% if not request.GET.category %}tab-active{% endif %} font-bold uppercase text-xs tracking-widest px-8 transition-all">All</a>
                {% for category in categories %}
                <a role="tab" href="{% url "menu" %}?category={{ category.slug }}"  class="tab {% if request.GET.category == category.slug  %}tab-active{% endif %} font-bold uppercase text-xs tracking-widest px-8 transition-all">{{category.name}}</a>
                {% endfor %}
                <!-- <a role="tab" class="tab font-bold uppercase text-xs tracking-widest px-8 transition-all">Small Chops</a>
                <a role="tab" class="tab font-bold uppercase text-xs tracking-widest px-8 transition-all">Platters</a>
                <a role="tab" class="tab font-bold uppercase text-xs tracking-widest px-8 transition-all">Drinks</a> -->
            </div>
        </div>
    </div>

    <div class="container mx-auto px-4 py-10">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            {% for item in products %}
            {% include "shop/includes/menu_card.html" %}
            {% endfor %}
            <div class="flex bg-white rounded-3xl shadow-card overflow-hidden hover:shadow-heavy transition-all duration-300 group relative" 
                id="product-card-{{ item.id }}"
                data-aos="fade-up">
                
                
            </div>

        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
    function addToCart(itemId) {
        // Here you would normally have an AJAX call to Django
        console.log("Added item " + itemId + " to bag");
        
        // This triggers the Django Message logic we built in the base
        // In a real app, you'd use Vanilla JS to inject a new toast here.
    }
</script>
{% endblock %}